services:
  product-service:
    image: product-service:latest
    container_name: product-service
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "8080:8080"
    environment:
      SPRING_DATA_MONGODB_URI: mongodb://${MONGO_USER}:${MONGO_PASS}@mongodb:27017/product-service?authSource=admin

    networks:
      - microservices-net

networks:
  microservices-net:
    driver: bridge
