services:

  mongodb:
    image: mongo:7.0.5
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASS}
      MONGO_INITDB_DATABASE: product-service
    volumes:
      - mongo_data:/data/db
    networks:
      - microservices-net
networks:
  microservices-net:
    driver: bridge

volumes:
  mongo_data:


